
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-align: center;
    margin:0px;
    min-width: 10%;
}

header {
    margin: 0px;
    padding-top: 180px;
    padding-bottom: 180px;
    padding-left: 150px;
    padding-right: 150px;
    background-color: #ffd4a2;
}


p {
    text-align: left;
    padding-left: 80px;
    padding-right: 80px;
}
h1 {
    font-size: 60px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 60px;
}

li {
    text-align: left;
    
}

#name {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
    min-height: 320px;
    
}

#moreAbout {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 175px;
    padding-left: 175px;
    background-color: #7c82b6;
    min-height: 640px;
}

#work {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 175px;
    padding-left: 175px;
    background-color: #76ba95;
    min-height: 640px;
}

#education {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 175px;
    padding-left: 175px;
    min-height: 640px;
}

#movies {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 175px;
    padding-left: 175px;
    background-color: #e08ead;
    min-height: 640px;
}