
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    margin:0px;
    color: #242424;
    min-width: 960px;
    background-color: #3ABAD2;
}

header {
    margin: 0px;
    padding-top: 180px;
    padding-bottom: 180px;
    padding-left: 150px;
    padding-right: 150px;
    background-color: #242424;
}


p {
    text-align: left;
    padding-left: 80px;
    padding-right: 80px;
    
}

h1 {
    font-size: 100px;
    min-height: 300px;
    color:#3ABAD2;
    font-family: helvetica, arial, sans-serif;
    /* text-shadow: 1px 1px #E4E4E4; */
    text-align: center;
    
}

h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 60px;
}

h3 {
    text-align: center;
    color: #E4E4E4;
}

ul {
    list-style-type: none;

}

#moreAbout {
    min-height: 720px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: auto;
    padding-left: auto;
    background-color: #e4e4e4;
}

#work {
    min-height: 720px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #3ABAD2;

}

.workName {
    font-size: 32px;
    font-weight: bold;
    float: left;
    text-align: right;
    height: 200px;
    margin-right: 40px;
    width: 33%;
    line-height: 200px;
    clear: left;

}

div .workInfo {
    float: left;
    min-width: 400px;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 40px;
    line-height: 40px;
    border-left: 10px;
    border-left-style: solid;
}

#education {
    min-height: 720px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 175px;
    padding-left: 175px;
    min-height: 640px;
    color: #E4E4E4;
    background-color: #242424;
    text-align: center;
    
}

.schoolName {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 80px;
    
}
.schoolDetails{
    padding-left:0px;
    border: #FF8817;
    border-style: solid;
    padding-top:40px;
    padding-bottom: 40px;
}

#movies {
    min-height: 720px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 175px;
    padding-left: 175px;
    background-color: #E4E4E4;

}

blockquote {
    font-size: 18px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    line-height: 40px;
    quotes: initial;
}